<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 引入外部的配置文件 -->
	<properties resource="db.properties"></properties>

	<!-- 在控制台显示日志信息 -->
	<settings>
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>
	
	<!-- 类型别名 -->
	<typeAliases>
		<!-- 如果这个类很多，一个一个的指定太麻烦，那么我们可以采用包的方式 <typeAlias type="com.yc.mybatis.bean.GoodsType" 
			alias="GoodsType"></typeAlias> -->

		<!-- 指定一个包路径，这个包下面的所有类自定采用别名方式，默认的别名就是类名 -->
		<package name="com.yc.vote.bean" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<!-- 指定事务管理 -->
			<transactionManager type="JDBC" />
			<!-- 配置数据源 -> 数据库连接池 -->
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<!-- 映射文件 -->
	<mappers>
		<mapper resource="mapper/UserInfoMapper.xml" />
		<mapper resource="mapper/TopicsMapper.xml" />
		<mapper resource="mapper/TopicItemMapper.xml" />
	</mappers>
</configuration>
