<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Topics">
	<insert id="add" parameterType="Topics">
		insert into topics values(#{tid}, #{tname}, #{types}, #{usid}, #{sdate}, #{edate}, '')
	</insert>
	
	<select id="findAll" resultType="Topics">
		select tid, tname, usids, (select count(ino) from topicitem i where i.tid=t.tid) usid from topics t
	</select>
	
	<select id="findByTid" parameterType="string" resultMap="topicsInfo">
		select t.tid, tname, usids, types, iname, ino, nums from topicitem i, topics t where t.tid=i.tid and t.tid=#{_parameter}
	</select>
	
	<resultMap id="topicsInfo" type="Topics" autoMapping="true">
		<id column="tid" property="tid"/>
		
		<collection property="topicItems" ofType="TopicItem" column="tid" autoMapping="true">
			<id property="ino" column="ino"/>
		</collection>
	</resultMap>
	
	<update id="update" parameterType="map">
		update topics set usids=concat(usids, '&amp;', #{usid}) where tid=#{tid}
	</update>
</mapper>
